<div class="row">
	<div class="col-md-2"></div>
  
	<div class="col-md-8">
		<div class="jumbotron">
			<h1 class="text-center">IVR Adventure</h1>
			<br>
			<h3>Step 1: Create a story.</h3>
			<h3>Step 2: Call 1-866-399-1235.</h3>
			<h3>Step 3: Enter the IVR extension 415837.</h3>
			<h3>Step 4: Enter your 4-digit story ID, and enjoy the adventure.</h3>
			<br>
		</div>
	</div>
  
	<div class="col-md-2"></div>
</div>